*{
    margin: 0;
    padding: 0;
}
.table-box
{
    margin: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: black;
    padding: 12px 0;
    color: white;
    font-size: 13px;
}
.table-head{
    background: yellow;
    box-shadow: none;
    color: white;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.table-cell-m{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
